<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/37b31825-f1e8-49d1-831f-a06d5044c809/resourcegroups/TodoResource/providers/Microsoft.Web/sites/InvoiceGeneratorBradley</ResourceId>
    <ResourceGroup>TodoResource</ResourceGroup>
    <ApiResourceId>/subscriptions/37b31825-f1e8-49d1-831f-a06d5044c809/resourceGroups/BBA-RESTAPI/providers/Microsoft.ApiManagement/service/BBAWebApplication1api/apis/WebApplication1</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://InvoiceGeneratorbradley.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>2d6e6aa1-fb58-4de7-9b7e-8367b749c9ea</ProjectGuid>
    <MSDeployServiceURL>InvoiceGeneratorbradley.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>InvoiceGeneratorBradley</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$InvoiceGeneratorBradley</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>